/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS04LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/exams/11. EXERCISE_ MultiplicationTables. (File responses)/ExamQ11Solution/nbproject/private/
/exams/11. EXERCISE_ MultiplicationTables. (File responses)/ExamQ11Solution/build/
/workshops/unit2/WS10Functions/nbproject/private/
/workshops/unit2/WS10Functions/build/
/workshops/unit2/WS12Libraries/nbproject/private/
/workshops/unit2/WS12Libraries/build/
/workshops/unit2/WS14Arrays/FarmSimulator/nbproject/private/
/workshops/unit2/WS14Arrays/FarmSimulator/build/
/quizes/Q01_02222021Arrays/nbproject/private/
/quizes/Q01_02222021Arrays/build/
/quizes/Q01_02222021Arrays/dist/
/workshops/unit2/WS16BidimensionalArrays/MatrixAddition/nbproject/private/
/workshops/unit2/WS16BidimensionalArrays/MatrixAddition/build/