/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS04LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/exams/11. EXERCISE_ MultiplicationTables. (File responses)/ExamQ11Solution/nbproject/private/
/exams/11. EXERCISE_ MultiplicationTables. (File responses)/ExamQ11Solution/build/
/workshops/unit2/WS10Functions/nbproject/private/
/workshops/unit2/WS10Functions/build/
/workshops/unit2/WS12Libraries/nbproject/private/
/workshops/unit2/WS12Libraries/build/
/workshops/unit2/WS14Arrays/FarmSimulator/nbproject/private/
/workshops/unit2/WS14Arrays/FarmSimulator/build/
/quizes/Q01_02222021Arrays/nbproject/private/
/quizes/Q01_02222021Arrays/build/
/quizes/Q01_02222021Arrays/dist/
/workshops/unit2/WS16BidimensionalArrays/MatrixAddition/nbproject/private/
/workshops/unit2/WS16BidimensionalArrays/MatrixAddition/build/
/workshops/unit3/WS19ArraysInspection/AcostaDomenicaExam2/nbproject/private/
/workshops/unit3/WS19ArraysInspection/AcostaDQ11 - DOMENICA CAMILA ACOSTA PEREZ/nbproject/private/
/workshops/unit3/WS19ArraysInspection/AcostaDQ11 - DOMENICA CAMILA ACOSTA PEREZ/build
/workshops/unit3/WS19ArraysInspection/AcostaDomenicaExam2/build/
/workshops/unit2/WS10Functions/dist/
/workshops/unit3/WS22Modularity/ModularCalculator/nbproject/private/
/workshops/unit3/WS22Modularity/ModularCalculator/build/
/workshops/unit3/WS23Libraries/TaxDeclarations/nbproject/private/
/workshops/unit3/WS23Libraries/TaxLibrary/nbproject/private/
/workshops/unit3/WS23Libraries/TaxLibrary/build/
/workshops/unit3/WS23Libraries/TaxLibrary/dist/
/workshops/unit3/WS23Libraries/TaxDeclarations/build/
/workshops/unit3/NewFolder/Sorting/nbproject/private/
/workshops/unit3/NewFolder/Sorting/build/
/workshops/unit3/WS25OperationsWithStrings/Contacts/nbproject/private/
/workshops/unit3/WS25OperationsWithStrings/Contacts/build/
/workshops/unit3/WS25OperationsWithStrings/SortingIntegers/nbproject/private/
/workshops/unit3/WS25OperationsWithStrings/SortingIntegers/build/
/workshops/unit3/WS25OperationsWithStrings/SortingIntegers/dist/
/workshops/unit3/WS27ADT/FarmSystem/nbproject/private/
/workshops/unit3/WS27ADT/FarmSystem/build/